# Numerous always-ignore extensions
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*.zip
*~

# OS or Editor folders
._*
.idea
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace

# Vendor Files
node_modules/

# Debug Files
npm-debug.*

# Temp Files
tsconfig.tsbuildinfo
tsconfig.*.tsbuildinfo



# Source Files
src/
__tests__/

# Config/Infrastructure Files
.eslintrc.json
.eslintignore
.editorconfig
typedoc.json
jest.config.js
tsconfig.base.json
tsconfig.json
.github/
